body {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	color: #b7b7b7;
	background-color:#010101;
	-webkit-font-smoothing: antialiased;
}
.typed-cursor{
	display:none;
}
/*--------- Body End -------*/
img {
	max-width: 100%;
  /*---------- Typography Css Start -------*/
}
